<div class="landing-page page">
 <div class="landing-header header-box">
  <h1 class="header-box-heading">Dhawani</h1>
 </div>
 <div class="landing-content content-box">
  <h1 class="landing-content-headnig dhwani-heading">
   Echoing Equality
  </h1>
  <p class="landing-content-text dhwani-text">Translating Silence to Empower Voices</p>
  <button class="landing-content-btn dhwani-btn | btn" (click)="navigateToRegister()">Getting Started</button>
  <p class="landing-content-text dhwani-text" (click)="navigateToLogin()">Already have an account? Sign in</p>
 </div>
</div>
