.language-header {
  height: 30svh;
  text-align: center;
  padding: var(--padding);
  background-image: linear-gradient(
    to bottom,
    var(--clr-primary-900),
    var(--clr-secondary-900)
  );
  border-bottom-left-radius: 10vmax;
  border-bottom-right-radius: 10vmax;
  color: var(--clr-white-900);
}

.language-content h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--clr-primary-900);
  margin-top: var(--margin);
}

.language-info {
 background: var(--clr-white-900);
 margin-top: var(--margin);
 border-radius: var(--border-radius);
 display: flex;
 justify-content: space-between;
}

.language-info p {
 padding: var(--padding);
 font-weight: 500;
 color: var(--clr-secondary-900);
}

.language-info p:last-child {
 background: var(--clr-secondary-900);
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: var(--border-radius);
 color: var(--clr-white-900);
 font-weight: 500;
 width: 70px;
}
