<div class="dashboard-page">
  <div class="main-header-box dashboard-header">
    <h1 class="| text-center">Dhwani</h1>
  </div>
  <div class="container dashboard-display">
   <div class="dashboard-screen">
    <p class="welcome">Welcome User</p>
    <p class="date">Monday 3 August 2003</p>
    <p class="time">4:32 PM</p>
  </div>
  <div class="dashboard-content">
   <p class="dashboard-content-header flex-between">
    <span class="explore">Explore</span>
    <span class="view-all" (click)="navigateToLanguages()">View All</span>
   </p>
   <div class="dashborad-content-language-box">
    <div class="language language-1">Language 1</div>
    <div class="language language-2">Language 2</div>
    <div class="language language-3">Language 3</div>
    <div class="language language-4">Language 4</div>
   </div>
  </div>
  </div>
  <app-navigation></app-navigation>
</div>
