<footer class="main-footer">
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-list-item" (click)="navigateToDashboard()">
        <mat-icon>home</mat-icon>
      </li>
      <li class="navigation-list-item" (click)="navigateToCamera()">
        <mat-icon>camera</mat-icon>
      </li>
      <li class="navigation-list-item" (click)="navigateToLanguageDashboard()">
        <mat-icon>checklist</mat-icon>
      </li>
      <li class="navigation-list-item" (click)="navigateToUserProfile()">
        <mat-icon class="person">person</mat-icon>
      </li>
    </ul>
  </nav>
</footer>
