<div class="language-dashboard-page">
  <div class="language-dashboard-header main-header-box">
    <h1>Dhwani</h1>
  </div>
  <div class="container language-dashboard-content">
    <div class="language-status-container flex-between gap-1">
      <div class="language-status language-status-lecture">
        <h1>Lecture</h1>
        <div class="language-status-lecture-border">40%</div>
      </div>
      <div class="language-status language-status-assessment">
        <h1>Assessment</h1>
        <div class="language-status-assessment-border">2/5</div>
      </div>
    </div>
    <app-language-container></app-language-container>
  </div>
</div>
<app-navigation></app-navigation>
